# IDE
.idea/
.vscode/
*.iml

# Build
_data/
_site/
src/

# Jekyll
.jekyll
.jekyll-metadata
.jekyll-cache

# Ruby
Gemfile.lock

# Bundler
.bundle
.sass-cache

# Node
/node_modules
package-lock.json
yarn.lock

# Tests
tmp/
report/

# Misc
.sekrets.key
.post-template
.history
.DS_Store
ROADMAP.md
.env
.crontab
