<div class="container">
  <div id="clouds">
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="user">
      <div class="tech">
        <h2><i><strong><div id="animabout"><span>C</span><span>l</span><span>o</span><span>u</span><span>d</span><span> </span><span>b</span><span>a</span><span>s</span><span>e</span><span>d</span><span> </span><span>A</span><span>u</span><span>t</span><span>o</span><span>m</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span><span> </span><span>o</span><span>f</span><span> </span><span>C</span><span>o</span><span>d</span><span>e</span><span> </span><span>&</span><span> </span><span>S</span><span>y</span><span>s</span><span>t</span><span>e</span><span>m</span><span>s</span></div></strong></i></h2>
        <p>
          The service focuses on <strong><i>delivering automated</i></strong>, <strong><i>optimized</i></strong> and <strong><i>tailored solutions</i></strong> across all tiers of any architecture.
          <strong style="color:red;">DevSecOps</strong>, or <strong style="color:red;">Site Reliabililty Engineering</strong>, has two main purposes:
          <br />
          <ol>
            <li><strong>Providing the leading stack.</strong></li>
            <li><strong>Finding the best way to put the stock from the ship to the dock.</strong></li>
          </ol>
        </p>
      </div>
    </div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
</div>
