<footer>
  <div class="footer container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <p id="stay">Stay in touch, follow me:</p>
      </div>
      <div class="col-2">
        <ul>
          <li><a href="https://linkedin.com/in/{{ site.author['linkedin'] }}" target="_blank" id="linkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://twitter.com/{{ site.author['twitter'] }}" target="_blank" id="twitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.github.com/{{ site.author['github'] }}/" target="_blank" id="github" title="Github"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
      <div class="col-1"></div>
      <div class="powered-by-copyright col-3">
        <p>&copy; {{ 'now' | date: "%Y" }} - ALL RIGHTS RESERVED</p>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
</footer>
<br />
