<div class="container-fluid">
  <div id="particles-js">
    <div class="header centered" >
      <h1>
        <span class="site-title in-down" >{{ site.author['name'] }}</span>
        <span class="site-description in-left" >WELCOME !</span>
      </h1>
      <div class="header-links in-right">
        <a class="link" href="{{ base }}/#about" data-scroll title="Home"><i class="fas fa-home"></i></a>
        <a class="link" href="{{ base }}/projects.html" hreflang="x-default" title="Projects"><i class="fas fa-project-diagram"></i></a>
        <a class="link" href="{{ base }}/blog.html" hreflang="x-default" title="Blog"><i class="fas fa-blog"></i></a>
        <a class="link" href="{{ base }}/about.html" hreflang="x-default" title="About"><i class="far fa-id-badge"></i></a>
      </div>
    </div>
    <a class="down in-up" href="{{ base }}/#about" data-scroll><i class="fas fa-chevron-down" aria-hidden="true"></i></a>
  </div>
</div>
